@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main: #ff6a03;
  --main-1: #cc5502;
  --basic: #1d1b1b;
  --white: #fefefe;
  --gray-high: #646363;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  height: 5000px;
  color: var(--basic);
}

a {
  text-decoration: none;
  transition: var(--transition);
}

button {
  transition: var(--transition);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  box-shadow: none !important;
}

textarea {
  resize: none;
}

.transition {
  transition: var(--transition);
}

/* colors */
.main-color {
  color: var(--main);
}

.basic {
  color: var(--basic);
}

.white {
  color: var(--white);
}

.gray-high {
  color: var(--gray-high);
}

/* font-size */
.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

/* font-weight */
.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.sec-padding {
  padding-top: 65px;
  padding-bottom: 65px;
}

.main-btn,
.secondary-btn {
  transition: var(--transition);
  font-size: 18px;
  font-weight: 500;
  padding: 10px 48px;
  border-radius: 40px;
  border: 1px solid var(--main);
}

.main-btn {
  color: var(--white);
  background-color: var(--main);
}

.secondary-btn {
  color: var(--main);
}
.main-btn:hover,
.secondary-btn:hover {
  background-color: var(--main-1);
  border-color: var(--main-1);
  color: var(--white);
}

.top-sec {
  padding-top: 110px;
}

p {
  font-size: 20px;
  color: var(--gray-high);
  line-height: 32px;
}

h2 {
  font-size: 46px;
  font-weight: 800;
}

@media (max-width: 1400px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 1200px) {
  .main-btn,
  .secondary-btn {
    font-size: 16px;
    padding: 9px 33px;
  }

  p {
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .sec-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .top-sec {
    padding-top: 80px;
  }

  p {
    font-size: 16px;
  }
}

/* --------------------------------------------------- */
/* navbar */
header .navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(
    180deg,
    rgba(255, 106, 3, 0.16) 0%,
    rgba(255, 238, 229, 0.1) 76.4%,
    rgba(254, 254, 254, 0.06) 100%
  );
  transition: var(--transition);
  padding: 13px 0;
}

header nav.white-background {
  background-color: var(--white) !important;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

header nav .nav-link {
  color: var(--basic);
  font-size: 20px;
  font-weight: 700;
}

header nav .active-nav,
header nav .nav-link:hover {
  color: var(--main-1);
}

header nav .login-link {
  font-size: 20px;
}

header nav .nav-item {
  margin: 0 12px;
}

header nav .navbar-brand img {
  max-height: 50px;
  object-fit: contain;
}

header nav .navbar-toggler .toggle-icon {
  color: var(--white);
  font-size: 22px;
}

@media (max-width: 1200px) {
  header nav .nav-link {
    font-size: 18px;
  }
  header nav .nav-item {
    margin: 0 10px;
  }

  header nav .navbar-brand img {
    max-height: 50px;
  }
}

@media (max-width: 992px) {
  header .navbar {
    background-color: var(--basic) !important;
    padding: 14px 0;
  }

  header nav .navbar-brand img {
    max-height: 40px;
  }

  header nav .sidebar {
    background: #2f2e2e;
    backdrop-filter: blur(9px);
  }

  header nav .nav-item {
    margin: 8px 0;
  }

  header nav .nav-item .nav-link {
    font-size: 18px;
    color: var(--white);
    transition: var(--transition);
  }
  header nav .nav-item .nav-link:hover,
  header nav .nav-item .nav-link.active-nav {
    color: var(--main);
  }

  header nav .sidebar .offcanvas-header {
    padding: 15px 30px;
  }

  header nav .offcanvas-body {
    overflow-y: visible;
  }
  header nav .sidebar .offcanvas-header .sidebar-logo {
    max-height: 40px;
  }

  header nav .sidebar .offcanvas-header .btn-close {
    --bs-btn-close-bg: url("/images/x.webp");
    background-size: 25px;
  }
}

header nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #333;
  top: 100%;
  left: 0;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 20px;
}

header nav .dropdown-item a {
  color: var(--basic);
  text-decoration: none;
  display: block;
}

header nav .dropdown-menu .dropdown-item {
  padding: 8px 12px;
}

@media (max-width: 992px) {
  header nav .dropdown-menu {
    position: static;
    border-top: 1px solid var(--main);
    border-bottom: 1px solid var(--main);
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    border-radius: 0;
  }

  header nav .dropdown-item a {
    color: var(--white);
  }
  header nav .dropdown-item a:hover {
    color: var(--main);
  }
  header nav .dropdown-item:hover {
    background-color: transparent;
  }
  header nav .nav-link {
    display: flex !important;
  }
}

/* end-header */
/* --------------------------------------------- */

/* landing-sec */
.home .landing-sec .video-container iframe {
  width: 100%;
  min-height: 600px;
  border-radius: 40px;
}

.home .landing-sec .links > div a {
  min-width: 450px;
  display: block;
}

@media (max-width: 992px) {
  .home .landing-sec .video-container iframe {
    min-height: 130px;
  }
}

/* service */
.home .service {
  border-radius: 40px;
  background: var(
    --gradient-orange,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 106, 3, 0.49) 0%,
      rgba(255, 133, 48, 0.39) 62%,
      rgba(255, 136, 53, 0.21) 100%
    )
  );
}

.home .service .service-container {
  padding: 0 80px;
}

.home .service img {
  max-height: 400px;
}

@media (max-width: 992px) {
  .home .service {
    background: var(
      --gradient-orange,
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      linear-gradient(
        90deg,
        rgba(255, 106, 3, 0.7) 0%,
        rgba(255, 136, 53, 0.35) 73.4%,
        rgba(239, 239, 239, 0.66) 100%
      )
    );
  }
}
/* end-service */
/* ----------------------------------------------- */

/* about */
.home .about a,
.home .join-us a {
  width: fit-content;
  margin-top: 35px;
}
.home .about img {
  max-height: 500px;
}

/* end-about */
/* ------------------------------------- */

/* join-us */
.home .join-us {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 106, 3, 0.3) 0%,
      rgba(255, 136, 53, 0.09) 48.5%,
      rgba(239, 239, 239, 0.28) 84.5%
    );
}
.home .join-us img {
  border-radius: 35px;
}
.home .join-us .join-second-title {
  font-size: 34px;
  margin-top: -8px;
}

/* end-join-us */
/* ------------------------------------------ */

/* download-app */
.home .download-app {
  background-image: url("../images/download-app-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
}
.home .download-app .mobile-img {
  max-height: 600px;
}

.home .download-app .download-links a {
  padding: 10px 40px 3px;
  color: var(--basic);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff6a03, #1d1b1b) 1;
  position: relative;
  overflow: hidden;
}

.home .download-app .download-links a .top-title {
  font-size: 18px;
  font-weight: 600;
}

.home .download-app .download-links a .middle-title {
  font-size: 38px;
  font-weight: 700;
  margin-top: -12px;
  margin-bottom: -12px;
}

.home .download-app .download-links a .bottom-title {
  font-size: 24px;
}

.home .download-app .download-links a .arrow-icon {
  font-size: 24px;
}

.home .download-app .download-links a .main-icon {
  font-size: 34px;
}
